@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/HOME/Login" method="post">


    User Name :
    <input type="text" id="t1" name="uid" />
    <br />
    <br />
    Password :
    <input type="password" id="t2" name="pwd" />
    <br />
    <br />
    <input type="submit" value="Login" />
    <p>
        <a  asp-controller="Home" asp-action="SignUp">SignUp</a>
    </p>
</form>
<p>
    @ViewData["result"]

</p>